body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    background-image: url("../img/planta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

header{
    border-bottom: 2px solid #73832F;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-decoration-line: none;
    font-weight: 700!important;
}
.btn{
    
         background-color:#B44A99;
         font-weight: 700;
         color: white;
         text-decoration: none;
         text-decoration-style: none;
         border: none;
         
 }

.btn:hover{
    color: white;
    background-color: #C857AB;
    }
    .btn-primary:hover{
        color: white;
        background-color: #C857AB! important;
        text-decoration-line: none;
        border-color: none! important;
        outline: none! important;
        }
    .btn-primary{
        background-color:#B44A99! important;
         font-weight: 700;
         color: white;
         text-decoration: none;
         text-decoration-style: none;
         border: none! important;
         border-color: none;
         text-decoration-line: none;
         outline-style: none;
         outline: none! important;

    }
h5{
    text-align: center;
    color: #C857AB;
    font-weight: 700!important;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white !important;
    font-weight: 700 !important;
    background-color: #B44A99 !important;
    border: 1px solid #a4a4a4 !important;
}
.page-link:hover {
        z-index: 2;
        color: #fff !important;
        text-decoration: none;
        background-color: #73832F !important;
        border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #73832F !important;
    border-color: white;
}

.link{
    text-decoration-style: none;
    color:#B44A99;
    text-decoration-line: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    position: relative;
    top: 15px;

}
.bi {
    color:#B44A99;

}
.link:hover{
    text-decoration-style: none;
    color:#B44A99;
    text-decoration-line: none;
    font-family: 'Open Sans', sans-serif;
}
.table{
        width:2500px;  
        background: rgba(255, 255,255, 0.5)
    
    }
table .thead {
        color: #fff;
        background-color:#73832F;
    
}

.btn_qr{
    color: #fff;
    background-color:#B44A99;
    font-weight: 700;
    display: inline-block;
    width: 15%;
}
.btn_qr:hover{
    color: white;
    background-color: #C857AB;
    }

.btn_cerrar{
    color: #fff;
        background-color:#B44A99;
        font-weight: 700;
        display: inline-block;
        width: 15%;
}
.btn_cerrar:hover{
    color: white;
    background-color: #C857AB;
    }

tr, th {
    text-align: center;
    font-family: sans-serif; 
 }
tr, td {
    text-align: left;
    font-family: sans-serif; 
 }
 tr, td:first-child{
     width: 20px;
 }
 tr, td:nth-child(2){
    width: 150px;
}
 tr, td:nth-child(3){
    width: 150px;
}
tr, td:nth-child(4){
    width: 50px;
}
tr, td:nth-child(5){
    width: 50px;
}
tr, td:nth-child(6){
    width: 150px;
}
tr, td:nth-child(7){
    width: 250px;
}
tr, td:nth-child(8){
    width: 250px;
}
tr, td:nth-child(9){
    width: 250px;
}
tr, td:nth-child(10){
    width: 450px;
}
tr, td:nth-child(11){
    width: 100px;
}

@media screen and (max-width: 2500px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    
}



