body{
    background-image: url(../img/planta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.formulario{

    background: rgba(255,255,255,0.7);
    padding: 20px;
    border-radius:10px;
    box-shadow:0 0 30px gray;
    color:black;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 600!important;

}

h1{
    font-weight: 700;
    
}
h3{
    font-weight: 700;
}
h2{
    font-weight: 700;
    color:#73832F;
}

.form-group .regresar{
    text-decoration: none;
    text-decoration-line: none;
    color: #B44A99;
}
.form-control{
    
    transition:0,5s ease-in;
    outline:none;
    box-shadow:none;
}
.form-control:focus{
    background: none;
    outline:none;
    box-shadow:none;
}

.ingresar{
    background:#B44A99;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    transition: 0,5s ease-in;
    cursor:pointer;
    

}
.btn{
    background-color:#B44A99;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    transition: 0,5s ease-in;
    cursor:pointer;
}
.btn:hover{
    color: white;
    background-color: #C857AB;
    }
header{
    border-bottom: 2px solid #73832F;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-decoration-line: none;
}
header .a{
    
    font-family: 'Open Sans', sans-serif;


}

.link{
    text-decoration-style: none;
    color: black;
    text-decoration-line: none;
    font-family: 'Open Sans', sans-serif;
}
.link:hover { text-decoration-style: none;
    color: black;
    text-decoration-line: none; 
}

.ingresar:hover{
color: white;
background-color: #C857AB;
}
.hola{
    color:#B44A99;
    
}
.bienvenido{
    color:#73832F;
}
.olvide{
    color:black;
    text-decoration-style: none;
    font-weight: 900!important;

    
}
.olvide:hover{
    color:#73832F;
    text-decoration-style: none;
    cursor:pointer;

}
/* .olvidel{
    color:black;
    text-decoration-style: none;
    font-size: 20px;
    text-decoration-line: none;
    font-weight: 700!important;
    border:2px solid black;
    padding: 10px;
    border-radius:10px;
    background:  rgba(255,255,255,0.5);
}
.olvidel:hover{

    text-decoration-style: none;
    cursor:pointer;
    text-decoration-line: none;
    color:black;

} */
