@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	
	background-image: url(../Login/img/flowerq.jpg);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 100%;
	max-width: 800px;
	margin: auto;
}


.gallery-container .button{
    background:#B44A99;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    transition: 0,5s ease-in;
	cursor:pointer;
	border-radius: 80px;
	margin: auto;
	max-width: 1000px;
	position: absolute;
	flex-wrap: wrap;
   text-decoration-line: none;
	
	
}
/*  */
/* ------------------------- */
/* Footer */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}

footer .redes-sociales .twitter {background: #1da1f2;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .instagram {background: #c13584;}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 18px;
	color: #73832F!important;
	font-weight: 700!important;
	
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Acme', sans-serif;
    color: #C857AB;
	font-size: calc(1em + 1.5vw);
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.imagen{
	max-width: 100%;
	position: relative;
	top: 150px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
	

}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
		width: 300px;
		height: 300px;
		padding-top: 15px;
	
	
}


.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 20px;
    color: #B44A99;
	 font-weight: bold;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}
.title{
	font-size: 30px;
    color: #554c53;
	 font-weight: bold;
	text-align: center;
  
}
div.encabezado{
	max-width: 100%;
	min-width: 20%;
	position: relative;

}
footer .creado-por a {color: #73832F;}
footer .creado-por a:hover {text-decoration: underline;}

/* buscador */
.form_search{
	float: right;
	height: 30%;
}
.form_search .barra{
border-radius: 50px;
outline: none;
text-decoration-line: none;
text-emphasis-color:#B44A99 ;
border: 0;
background-color: white;
text-align: center;
color: #73832F;
font-size: 16px;
font-weight: 700!important;
}
.form_search .barra:focus{
	border-radius: 50px;
	border:0;
	outline: none;
	text-decoration-line: none;
	text-emphasis-color:#B44A99 ;
	}
.form_search .btn_search{
	background:#B44A99;
	color: white;
	padding:8px;
	font-size: 16px;
    font-weight: 700!important;
	border:0;
	border-radius: 80px;
	cursor:pointer;
	margin: 5px;
	max-width: 1000px;

}
